body {
    margin: 0;
    font-family: "Comic Sans MS", "Trebuchet MS", "Segoe UI", sans-serif;
    background: linear-gradient(135deg, #064e3b, #022c22);
    color: #ecfdf5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: #ffffff;
    width: 420px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
    position: relative;
    color: #064e3b;
}

/* Headings */
.card h2 {
    text-align: center;
    margin-bottom: 8px;
    color: #065f46;
    font-family: "Comic Sans MS", "Trebuchet MS", sans-serif;
    letter-spacing: 0.5px;
}

/* Sub text */
.spinach {
    text-align: center;
    font-size: 14px;
    color: #047857;
    margin-bottom: 18px;
}

/* Paragraphs */
.card p {
    text-align: center;
    font-size: 14px;
    color: #374151;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #10b981;
    outline: none;
    background: #ffffff;
    color: #064e3b;
    font-size: 14px;
}

input::placeholder {
    color: #6b7280;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background: #10b981;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background: #059669;
}

/* Footer */
.footer {
    margin-top: 15px;
    font-size: 12px;
    text-align: center;
    color: #6b7280;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.logo img {
    max-width: 120px;
    height: auto;
}




/* SOC button */
.soc-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    background: #10b981;
    color: #ffffff;
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.soc-btn:hover {
    background: #34d399;
}
